<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroínas y Héroes Tecnológicos</title>
</head>
<body>
    <a href="/home">Inicio</a>
    <a href="/babbage">Charles Babbage</a>
    <a href="/berners-lee">Tim Berners-Lee</a>
    <a href="/clarke">Edmund Clarke</a>
    <a href="/hamilton">Margaret Hamilton</a>
    <a href="/hopper">Grace Hopper</a>
    <a href="/lovelace">Ada Lovelace</a>
    <a href="/turing">Alan Turing</a>
    <h1>Heroínas y Héroes Tecnológicos</h1>
</body>
</html>